<div class="col">
  <h3>Picked Teams</h3>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Week</th>
        {{#each allUsers}}
          <th>{{this.dataValues.username}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="week">1</td> {{!-- week picked --}}
        <td class="user1team"></td> {{!-- UserId = 1 --}}
        <td class="user2team"></td> {{!-- UserId = 2 --}}
      </tr>
      <tr>
        <td class="week">2</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">3</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">4</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">5</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">6</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">7</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">8</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">9</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">10</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">11</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">12</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">13</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">14</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">15</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">16</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
      <tr>
        <td class="week">17</td>
        <td class="user1team"></td>
        <td class="user2team"></td>
      </tr>
    </tbody>
  </table>
</div>