<label for="week">Week:</label>

<select id="week">
  {{!-- the "selected" option will load first --}}
  {{!-- change throughout the year to the current week --}}
  {{!-- TODO change current week dynamically --}}
  <option value="1" selected>1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
  <option value="16">16</option>
  <option value="17">17</option>
</select>

<div id="games">
  {{!-- games go here --}}
</div>

{{!-- moment.js --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"
  integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg=="
  crossorigin="anonymous"></script>
{{!-- script that gets the selected week's games --}}
<script src="/js/weekNum.js"></script>